html {
	font-size: 16px;
	font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols,
		emojione mozilla, twemoji mozilla, segoe ui symbol, sans-serif;
}

body {
	background-color: #e5e9f4;
	margin: 0;
}

ul,
ol {
	padding: 0;
}

li {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
